<app-cabecalho titulo="Minhas listas" (btnClick)="criarLista()"></app-cabecalho>
<div class="container pt-3">
  <table mat-table [dataSource]="dataSource">
    <ng-container [matColumnDef]="colunas[0]">
      <th mat-header-cell *matHeaderCellDef style="width: 40px"></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="ver(element.id)">
          <mat-icon>remove_red_eye</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container [matColumnDef]="colunas[1]">
      <th mat-header-cell *matHeaderCellDef>
        <div class="w-100 text-center">
          {{
            dataSource.data.length ? "LISTAS ATUAIS" : "NÃO HÁ NENHUMA LISTA"
          }}
        </div>
      </th>
      <td mat-cell *matCellDef="let element">
        <div class="w-100 text-center">{{ element.nome }}</div>
      </td>
    </ng-container>
    <ng-container [matColumnDef]="colunas[2]">
      <th mat-header-cell *matHeaderCellDef style="width: 40px"></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="excluir(element.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="colunas"></tr>
    <tr mat-row *matRowDef="let row; columns: colunas"></tr>
  </table>
  <div class="py-3 w-100">
    <button
      class="w-100"
      mat-raised-button
      color="primary"
      (click)="criarLista()"
    >
      Criar nova lista
    </button>
  </div>
</div>
