<app-checkbox-filtro *ngIf="lista.length && regras.filtrosNoComeco"></app-checkbox-filtro>
<div class="container pt-3" *ngIf="lista.length">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container [matColumnDef]="colunas[0]">
      <th mat-header-cell *matHeaderCellDef style="width: 40px">
        <mat-checkbox (change)="alternarTudo($event.checked)"></mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox [checked]="element.selecionado" (change)="alternar($event.checked, element)">
        </mat-checkbox>
      </td>
    </ng-container>
    <ng-container [matColumnDef]="colunas[1]">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>
    <ng-container [matColumnDef]="colunas[2]">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Categoria</th>
      <td mat-cell *matCellDef="let element">
        {{ element.categoria }}
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="colunas"></tr>
    <tr mat-row *matRowDef="let row; columns: colunas;"></tr>
  </table>
  <div class="pt-3">
    <button mat-raised-button color="primary" (click)="concluir()">Concluir compra</button>
  </div>
</div>
<div class="container pt-3" *ngIf="!lista.length">
  <p>Não há itens na lista. Crie uma nova</p>
  <div class="pt-3">
    <button mat-raised-button color="primary" routerLink="/tabela">Criar lista</button>
  </div>
</div>